.container-fluid{
    padding: 0;
}
.navbar-brand { 
    position: relative; 
    z-index: 2; 
}
.navbar-nav.navbar-right .btn { 
    position: relative; 
    z-index: 2; 
    padding: 4px 20px; 
    margin: 10px auto; 
}
.navbar .navbar-collapse { 
    position: relative; 
}
.navbar .navbar-collapse .navbar-right > li:last-child { 
    padding-left: 22px; 
}
.navbar .nav-collapse { 
    position: absolute; 
    z-index: 1; top: 0; left: 0; right: 0; bottom: 0; 
    margin: 0; 
    padding-right: 120px; 
    padding-left: 80px; 
    width: 100%; 
}
.navbar-default { 
    background-color: #127cad; 
    color:#E7E7E7 ; 
}
.navbar  { 
    border-width: 0; 
    border-radius: 0 ;
    box-shadow: none;
    margin-bottom: 5px;
}
.nav-collapse>li { 
    float: right; 
}
.btn.btn-circle { 
    border-radius: 50px; 
}
.btn.btn-outline { 
    background-color: transparent; 
}
li a{
    color:#E7E7E7;
}
li a:hover{
    color:#E7E7E7;
    background-color: rgb(18, 64, 136);
}
.navbar-brand{
    color:#E7E7E7;  
    font-size: 2em;
}
.navbar-brand:hover{
    color:#E7E7E7;
    background-color: rgb(18, 64, 136);
}
.logo{
    height: 35px;
    margin-top: -8px;
}
.active{
    color:#E7E7E7;
    background-color: rgb(23, 81, 175);
}
@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { 
        padding-left: 15px; 
        padding-right: 15px;
    }     
    .navbar .nav-collapse { 
        margin: 7.5px auto; 
        padding: 0; 
    }
    .navbar .nav-collapse .navbar-form { 
        margin: 0; 
    }
    .nav-collapse>li { 
        float: none; 
    }
}