.menuLogin{
    margin-top: 10%
}
.navbar-header{
    float: inherit;
}
.logo{
    height: 70px;
    padding-left: 36%;
}
.alert-danger{
    font-size: 14px;
    color: white;
    background-color: #b12121;
    padding: 3px;
    padding-right: 63%;
}
.panel.panel-primary{
    border-radius: 12px;
}
.panel-heading{
    border-radius: 11px;
}

