<div class="col-md-6">
  <legend class="amaranth">{{title}}</legend>
 
  <div class="notification is-danger">
    <ul >
      <li *ngFor="let error of errors">{{error}}</li>
    </ul>
  </div>

  <form class="form-group" [formGroup]="form">
    <p class="control">
      <input type="text" class="form-control" placeholder="Nome" formControlName="name">
      <span class="alert-danger" role="alert" *ngIf="!form.controls['name'].valid && !form.controls['name'].pristine">Nome inválido</span>
    </p>

    <p class="control">
      <input type="text" class="form-control" placeholder="Carga Horaria / Obs" formControlName="document">
      <span class="alert-danger" role="alert" *ngIf="!form.controls.document.valid && !form.controls.document.pristine">Dados inválido</span>
    </p>

    <p class="control">
      <input type="text" class="form-control" placeholder="E-mail" formControlName="email">
      <span class="alert-danger" role="alert" *ngIf="!form.controls.email.valid && !form.controls.email.pristine">E-mail inválido</span>
    </p>

    <p class="control">
      <input type="text" class="form-control" placeholder="Usuário" formControlName="nickname">
      <span class="alert-danger" role="alert" *ngIf="!form.controls.nickname.valid && !form.controls.nickname.pristine">Nome de usuário inválido</span>
    </p>

    <p class="control">
      <select class="selectpicker form-control" formControlName="permission">
        <option value=0>Administrador</option>
        <option value=1>Médico</option>
        <option value=2>Secretario</option>
        <option value=3>Usuário apenas consulta</option>
      </select>
    <span class="alert-danger" *ngIf="!form.controls.permission">Permissão inválido</span>

    </p>

    <p>
      <button (click)="submit()" class="btn btn-primary btn-lg btn-block" [disabled]="!form.valid">Salvar</button>
    </p>
  </form>
  <span [hidden]="modeEdit">* Atenção sua senha <i>'TEMPORARIA'</i> será os <strong>3 primeiros caracteres</strong> em minusculo do seu e-mail</span>
 
  <div class="alert alert-success" role="alert" [hidden]="!savedsuccess" >
    Dados Salvos com sucesso!
  </div>

</div>