<div class="col-md-6">
  <legend class="amaranth">{{title}}</legend>
 
  <div class="notification alert-danger">
    <ul >
      <li *ngFor="let error of errors">{{error.message}}</li>
    </ul>
  </div>

  <form class="form-group" [formGroup]="form">
    <p class="control">
      <input type="text" class="form-control" placeholder="Nome" formControlName="name">
      <span class="alert-danger" role="alert" *ngIf="!form.controls['name'].valid && !form.controls['name'].pristine">Nome inválido</span>
    </p>

    <p class="control">
      <input type="text" class="form-control" placeholder="Carga Horaria / Obs" formControlName="document">
      <span class="alert-danger" role="alert" *ngIf="!form.controls.document.valid && !form.controls.document.pristine">Dados inválido</span>
    </p>

    <p class="control" >
      <input type="text" class="form-control" placeholder="E-mail" formControlName="email">
      <span class="alert-danger" role="alert" *ngIf="!form.controls.email.valid && !form.controls.email.pristine">E-mail inválido</span>
    </p>

    <p class="control">
      <input type="text" class="form-control" placeholder="Usuário" formControlName="nickname">
      <span class="alert-danger" role="alert" *ngIf="!form.controls.nickname.valid && !form.controls.nickname.pristine">Nome de usuário inválido</span>
    </p>

    <div>
      <p class="control" >
        <input type="password" class="form-control" placeholder="Senha" formControlName="password">
        <span class="alert-danger" role="alert" *ngIf="!form.controls.password.valid && !form.controls.password.pristine">Senha inválida</span>
      </p>
      <p class="control" >
        <input type="password" class="form-control" placeholder="Repetir senha" formControlName="confirmPassword">
        <span class="alert-danger" role="alert" *ngIf="!form.controls.confirmPassword.valid && !form.controls.confirmPassword.pristine">As senhas estão diferentes</span>
      </p>
    </div>

    <p>
      <button (click)="submit()" class="btn btn-primary btn-lg btn-block" [disabled]="!form.valid">Salvar</button>
    </p>
  </form>
 
  <div class="alert alert-success" role="alert" [hidden]="!savedsuccess" >
    Dados Salvos com sucesso!
  </div>

</div>