/* You can add global styles to this file, and also import other style files */
.asap{
    font-family: 'asap'
}
.lato{
    font-family: 'lato'
}
.amaranth{
    font-family: 'amaranth'
}
.medium-text{
    font-size: 1.5em;
}
.pagination-centered{
    left:50%;
    top:50%;
    text-align:center;
}
